/* Document */
html {
  line-height: 1.15; /* Mejora la legibilidad */
  -webkit-text-size-adjust: 100%; /* Previene que Safari ajuste el tamaño del texto automáticamente */
}

/* Sections */
body {
  margin: 0; /* Elimina márgenes predeterminados */
}

/* Typography */
h1, h2, h3, h4, h5, h6, p {
  margin: 0; /* Elimina márgenes verticales inconsistentes */
}

strong {
  font-weight: bold;
}

/* Links */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/* Images */
img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

/* Forms */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button {
  text-transform: none;
}

button,
[type="button"],
[type="submit"],
[type="reset"] {
  -webkit-appearance: button;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}